.local/
.config/nvim/plugin/
.config/vim/undodir/
.config/systemd
.config/xfce4
.config/Thunar
.config/GIMP
.config/chromium
.config/zsh/.zcompdump
.config/newsboat/urls
.config/QtProject.conf
.config/qBittorrent
.config/torbrowser
.config/dconf
.config/libreoffice
.config/zsh/.zcompdump
.config/coc/extensions/node_modules
.config/nvim/.netrwhist
.config/nvim/plugged
.config/nvim/plugin/packer_compiled.vim
.config/vim/autoload
.config/pavucontrol.ini
.config/pulse
.config/coc
.config/configstore
.config/inkscape
.config/nvim/autoload
.config/nvim/undodir
.config/transmission-daemon
.local/include
.config/Atom/
.config/Unknown Organization/
.config/VirtualBox/
.config/abiword/
.config/aqemu/
.config/irb/
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/libfm/
.config/msmtp/
.config/mutt/
.config/wireshark/
.config/zoomus.conf
