.local/share
.local/bin/pipenv
.local/bin/pipenv-*
.local/bin/virtualenv
.local/bin/virtualenv-*
.local/lib
.config/systemd
.config/xfce4
.config/Thunar
.config/GIMP
.config/chromium
.config/zsh/.zcompdump
.config/newsboat/urls
.config/QtProject.conf
.config/qBittorrent
.config/torbrowser
.config/dconf
.config/libreoffice
.config/zsh/.zcompdump
.config/coc/extensions/node_modules
.config/nvim/.netrwhist
.config/nvim/plugged
.config/pavucontrol.ini
.config/pulse
.config/coc
.config/configstore
.config/inkscape
.config/nvim/autoload
.config/nvim/undodir
.config/transmission-daemon
.local/include
.config/Atom/
.config/Unknown Organization/
.config/VirtualBox/
.config/abiword/
.config/aqemu/
.config/irb/
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/libfm/
.config/msmtp/
.config/mutt/
.config/wireshark/
.config/zoomus.conf
.local/bin/black
.local/bin/black-primer
.local/bin/blackd
.local/bin/epylint
.local/bin/f2py
.local/bin/f2py3
.local/bin/f2py3.9
.local/bin/isort
.local/bin/pylint
.local/bin/pyreverse
.local/bin/symilar
