.local/share
.config/qBittorrent
.config/torbrowser
.config/dconf
.config/libreoffice
.config/zsh/.zcompdump
.config/coc
.config/nvim/.netrwhist
.config/nvim/plugged
.config/pavucontrol.ini
.config/pulse
