#!/bin/sh
#This runs when you log into graphical session

#dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRES DISPLAY XAUTHORITY

sxhkd &		#keybindings
dunst &		#notifications
setbg &		#sets the background
touchpad_toggle #turn on/off touchpad
picom -b &	#composite manager
dwmbar &  	#adds date to statusbar
